amqp==2.5.0
billiard==3.6.0.0
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
Django==2.2.2
django-crispy-forms==1.7.2
django-pagedown==1.0.6
djangorestframework==3.9.4
djangorestframework-stubs==0.4.2
idna==2.8
kombu==4.6.0
mistune==0.8.4
Pillow==6.0.0
pytz==2019.1
redis==3.2.1
requests==2.22.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
vine==1.3.0
xxhash==1.3.0
