{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>测试-诗遍天涯</title>
<link href="{% static 'niji/css/test_main.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'niji/css/iconfont.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'niji/css/test.css' %}" rel="stylesheet" type="text/css" />

<style>
.hasBeenAnswer {
	background: #255B93;
	color:#fff;
}

</style>
</head>

<body>
	<div class="main">
		<!--nr start-->
		<div class="test_main">
			<div class="nr_left">
				<div class="test">
					<form action="" method="post">
						<div class="test_title">
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
							</p>
							<font>
								<a href="/test/success"><input type="button" name="test_jiaojuan" value="提交"></font></a>
						</div>
						
							<div class="test_content">
								<h1 align="center" style="margin-bottom: 15px;">中国古建筑综合练习</h1>
								<div class="test_content_title">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">15</i><span>题，</span><span>合计</span><i class="content_fs">100</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="qu_0_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(5分)</span><font>江南三大明楼是（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_1"
																/>
															
															
															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">黄鹤楼、滕王阁、岳阳楼</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_2"
																/>
															
															
															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">黄鹤楼、岳阳楼、大观楼</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_3"
																/>
															
															
															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">滕王阁、大观楼、鹳雀楼</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_4"
																/>
															
															
															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">鹳雀楼、大观楼、黄鹤楼</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(5分)</span><font>玉门关位于（）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_1"
																/>
															
															
															<label for="0_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">甘肃敦煌</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_2"
																/>
															
															
															<label for="0_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">甘肃兰州</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_3"
																/>
															
															
															<label for="0_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">甘肃酒泉</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_4"
																/>
															
															
															<label for="0_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">甘肃陇西</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_2">
											<div class="test_content_nr_tt">
												<i>3</i><span>(5分)</span><font>西江第一阁是（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_1"
																/>
															
															
															<label for="0_answer_3_option_1">
																A.
																<p class="ue" style="display: inline;">滕王阁</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_2"
																/>
															
															
															<label for="0_answer_3_option_2">
																B.
																<p class="ue" style="display: inline;">蓬莱阁</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_3"
																/>
															
															
															<label for="0_answer_3_option_3">
																C.
																<p class="ue" style="display: inline;">真武阁</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_3_option_4"
																/>
															
															
															<label for="0_answer_3_option_4">
																D.
																<p class="ue" style="display: inline;">城隍阁</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_3">
											<div class="test_content_nr_tt">
												<i>4</i><span>(5分)</span><font>以下哪个不是中国四大书院之一（）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_1"
																/>
															
															
															<label for="0_answer_4_option_1">
																A.
																<p class="ue" style="display: inline;">新华书院</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_2"
																/>
															
															
															<label for="0_answer_4_option_2">
																B.
																<p class="ue" style="display: inline;">白鹿洞书院</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_3"
																/>
															
															
															<label for="0_answer_4_option_3">
																C.
																<p class="ue" style="display: inline;">岳麓书院</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_4"
																/>
															
															
															<label for="0_answer_4_option_4">
																D.
																<p class="ue" style="display: inline;">应天书院</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_4">
											<div class="test_content_nr_tt">
												<i>5</i><span>(5分)</span><font>辽的建筑更接近（）的风格</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_1"
																/>
															
															
															<label for="0_answer_5_option_1">
																A.
																<p class="ue" style="display: inline;">宋朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_2"
																/>
															
															
															<label for="0_answer_5_option_2">
																B.
																<p class="ue" style="display: inline;">元朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_3"
																/>
															
															
															<label for="0_answer_5_option_3">
																C.
																<p class="ue" style="display: inline;">唐朝</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_5">
											<div class="test_content_nr_tt">
												<i>6</i><span>(5分)</span><font>西汉著名的宫殿有</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_1"
																/>
															
															
															<label for="0_answer_6_option_1">
																A.
																<p class="ue" style="display: inline;">长乐宫</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_2"
																/>
															
															
															<label for="0_answer_6_option_2">
																B.
																<p class="ue" style="display: inline;">未央宫</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_3"
																/>
															
															
															<label for="0_answer_6_option_3">
																C.
																<p class="ue" style="display: inline;">建章宫</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_4"
																/>
															
															
															<label for="0_answer_6_option_4">
																D.
																<p class="ue" style="display: inline;">紫宸殿</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_6">
											<div class="test_content_nr_tt">
												<i>7</i><span>(5分)</span><font>中国保存最好的两座宫殿是北京故宫和（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_1"
																/>
															
															
															<label for="0_answer_7_option_1">
																A.
																<p class="ue" style="display: inline;">沈阳故宫</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_2"
																/>
															
															
															<label for="0_answer_7_option_2">
																B.
																<p class="ue" style="display: inline;">南京故宫</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_3"
																/>
															
															
															<label for="0_answer_7_option_3">
																C.
																<p class="ue" style="display: inline;">台北故宫</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_4"
																/>
															
															
															<label for="0_answer_7_option_4">
																D.
																<p class="ue" style="display: inline;">南京故宫</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_7">
											<div class="test_content_nr_tt">
												<i>8</i><span>(5分)</span><font>长城最著名的三个关隘分别是山海关、嘉峪关、（）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_1"
																/>
															
															
															<label for="0_answer_8_option_1">
																A.
																<p class="ue" style="display: inline;">黄崖关</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_2"
																/>
															
															
															<label for="0_answer_8_option_2">
																B.
																<p class="ue" style="display: inline;">紫荆关</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_3"
																/>
															
															
															<label for="0_answer_8_option_3">
																C.
																<p class="ue" style="display: inline;">居庸关</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_4"
																/>
															
															
															<label for="0_answer_8_option_4">
																D.
																<p class="ue" style="display: inline;">雁门关</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_8">
											<div class="test_content_nr_tt">
												<i>9</i><span>(5分)</span><font>（）是中国建筑体系大变革时期</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_1"
																/>
															
															
															<label for="0_answer_9_option_1">
																A.
																<p class="ue" style="display: inline;">宋朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_2"
																/>
															
															
															<label for="0_answer_9_option_2">
																B.
																<p class="ue" style="display: inline;">唐朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_3"
																/>
															
															
															<label for="0_answer_9_option_3">
																C.
																<p class="ue" style="display: inline;">汉朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_4"
																/>
															
															
															<label for="0_answer_9_option_4">
																D.
																<p class="ue" style="display: inline;">明朝</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_9">
											<div class="test_content_nr_tt">
												<i>10</i><span>(5分)</span><font>”高阁逼诸天,登临近日边。“指的是（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_1"
																/>
															
															
															<label for="0_answer_10_option_1">
																A.
																<p class="ue" style="display: inline;">总持阁</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_2"
																/>
															
															
															<label for="0_answer_10_option_2">
																B.
																<p class="ue" style="display: inline;">百尺楼</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_3"
																/>
															
															
															<label for="0_answer_10_option_3">
																C.
																<p class="ue" style="display: inline;">鹳雀楼</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_4"
																/>
															
															
															<label for="0_answer_10_option_4">
																C.
																<p class="ue" style="display: inline;">黄鹤楼</p>
															</label>
														</li>
												</ul>
											</div>
										</li>
																
								</ul>
							</div>
						
							<div class="test_content">
								<div class="test_content_title">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">30</i><span>题，</span><span>合计</span><i class="content_fs">30</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="qu_1_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(10分)</span><font>中国三大石窟有（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_1"
																/>
															
															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">莫高窟</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_2"
																/>
															
															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">云冈石窟</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_3"
																/>
															
															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">龙门石窟</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_4"
																/>
															
															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">积山石窟</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(10分)</span><font>中国四大名亭包括（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_1"
																/>
															
															<label for="1_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">醉翁亭</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_2"
																/>
															
															<label for="1_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">湖心亭</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_3"
																/>
															
															<label for="1_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">陶然亭</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_4"
																/>
															
															<label for="1_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">爱晚亭</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_2">
											<div class="test_content_nr_tt">
												<i>3</i><span>(10分)</span><font>中国三大名泉（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_1"
																/>
															
															<label for="1_answer_3_option_1">
																A.
																<p class="ue" style="display: inline;">趵突泉</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_2"
																/>
															
															<label for="1_answer_3_option_2">
																B.
																<p class="ue" style="display: inline;">惠山泉</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_3"
																/>
															
															<label for="1_answer_3_option_3">
																C.
																<p class="ue" style="display: inline;">虎跑泉</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_4"
																/>
															
															<label for="1_answer_3_option_4">
																D.
																<p class="ue" style="display: inline;">娘子泉</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_3">
											<div class="test_content_nr_tt">
												<i>4</i><span>(10分)</span><font>以下哪句诗与吴王宫无关（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_1"
																/>
															
															<label for="1_answer_4_option_1">
																A.
																<p class="ue" style="display: inline;">黄旗紫盖伊巴蜀，翠殿朱楼自武昌。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_2"
																/>
															
															<label for="1_answer_4_option_2">
																B.
																<p class="ue" style="display: inline;">姑苏台上乌栖时，吴王宫里醉西施</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_3"
																/>
															
															<label for="1_answer_4_option_3">
																C.
																<p class="ue" style="display: inline;">长乐宫中钟暗来，可怜歌舞惯相催。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_4"
																/>
															
															<label for="1_answer_4_option_4">
																D.
																<p class="ue" style="display: inline;">寒烟收紫禁,春色绕黄图。</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_4">
											<div class="test_content_nr_tt">
												<i>5</i><span>(10分)</span><font>以下哪句诗与华清宫有关。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_1"
																/>
															
															<label for="1_answer_5_option_1">
																A.
																<p class="ue" style="display: inline;">行尽江南数十程，晓星残月入华清。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_2"
																/>
															
															<label for="1_answer_5_option_2">
																B.
																<p class="ue" style="display: inline;">朝元阁上西风急，都入长杨作雨声。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_3"
																/>
															
															<label for="1_answer_5_option_3">
																C.
																<p class="ue" style="display: inline;">一骑红尘妃子笑，无人知是荔枝来。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_4"
																/>
															
															<label for="1_answer_5_option_4">
																D.
																<p class="ue" style="display: inline;">揽衣推枕起徘徊，珠箔银屏迤逦开。</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>							
								</ul>
							</div>
						
					</form>
				</div>

			</div>
			<div class="nr_right">
				<div class="nr_rt_main">
					<div class="rt_nr1">
						<div class="rt_nr1_title">
							<h1>
								<i class="icon iconfont">&#xe692;</i>答题卡
							</h1>
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
							</p>
						</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">10</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#qu_0_0">1</a></li>
										
											<li><a href="#qu_0_1">2</a></li>
										
											<li><a href="#qu_0_2">3</a></li>
										
											<li><a href="#qu_0_3">4</a></li>
										
											<li><a href="#qu_0_4">5</a></li>
										
											<li><a href="#qu_0_5">6</a></li>
										
											<li><a href="#qu_0_6">7</a></li>
										
											<li><a href="#qu_0_7">8</a></li>
										
											<li><a href="#qu_0_8">9</a></li>
										
											<li><a href="#qu_0_9">10</a></li>									
																					
									</ul>
								</div>
							</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">5</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#qu_1_0">1</a></li>
										
											<li><a href="#qu_1_1">2</a></li>
										
											<li><a href="#qu_1_2">3</a></li>
										
											<li><a href="#qu_1_3">4</a></li>
										
											<li><a href="#qu_1_4">5</a></li>								
											
										
									</ul>
								</div>
							</div>
						
					</div>

				</div>
			</div>
		</div>
		<!--nr end-->
		<div class="foot"></div>
	</div>

	<script src="{% static 'niji/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'niji/js/jquery.easy-pie-chart.js' %}"></script>
	<!--时间js-->
	<script src="{% static 'niji/js/jquery.countdown.js' %}"></script>
	<script>
		window.jQuery(function($) {
			"use strict";
			
			$('time').countDown({
				with_separators : false
			});
			$('.alt-1').countDown({
				css_class : 'countdown-alt-1'
			});
			$('.alt-2').countDown({
				css_class : 'countdown-alt-2'
			});
			
		});
		
		
		$(function() {
			$('li.option label').click(function() {
			debugger;
				var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
				// 设置已答题
				if(!cardLi.hasClass('hasBeenAnswer')){
					cardLi.addClass('hasBeenAnswer');
				}
				
			});
		});
	</script>
<div style="text-align:center;">
</div>
</body>
</html>