{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>测试-E课思通</title>
<link href="{% static 'niji/css/test_main.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'niji/css/iconfont.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'niji/css/test.css' %}" rel="stylesheet" type="text/css" />

<style>
.hasBeenAnswer {
	background: #255B93;
	color:#fff;
}

</style>
</head>

<body>
	<div class="main">
		<!--nr start-->
		<div class="test_main">
			<div class="nr_left">
				<div class="test">
					<form action="" method="post">
						<div class="test_title">
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
							</p>
							<font>
								<a href="/test/success"><input type="button" name="test_jiaojuan" value="提交"></font></a>
						</div>
						
							<div class="test_content">
								<h1 align="center" style="margin-bottom: 15px;">唐朝综合练习</h1>
								<div class="test_content_title">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">15</i><span>题，</span><span>合计</span><i class="content_fs">100</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="qu_0_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(5分)</span><font>长风破浪会有时，（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_1"
																/>
															
															
															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">直挂云帆济沧海</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_2"
																/>
															
															
															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">孤帆远影碧空尽</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_3"
																/>
															
															
															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">笑问客从何处来</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_4"
																/>
															
															
															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">大风起兮云飞扬</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(5分)</span><font>李白：字太白，号（  ），有“诗仙”之称。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_1"
																/>
															
															
															<label for="0_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">青莲居士</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_2"
																/>
															
															
															<label for="0_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">六安居士</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_3"
																/>
															
															
															<label for="0_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">太白金星</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_4"
																/>
															
															
															<label for="0_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">少陵野老</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_2">
											<div class="test_content_nr_tt">
												<i>3</i><span>(5分)</span><font>	大江东去，浪淘尽，（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_1"
																/>
															
															
															<label for="0_answer_3_option_1">
																A.
																<p class="ue" style="display: inline;">千古风流人物</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_2"
																/>
															
															
															<label for="0_answer_3_option_2">
																B.
																<p class="ue" style="display: inline;">遥想公瑾当年</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_3"
																/>
															
															
															<label for="0_answer_3_option_3">
																C.
																<p class="ue" style="display: inline;">一樽还酹江月</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_3_option_4"
																/>
															
															
															<label for="0_answer_3_option_4">
																D.
																<p class="ue" style="display: inline;">三国周郎赤壁</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_3">
											<div class="test_content_nr_tt">
												<i>4</i><span>(5分)</span><font>	（  ），养在深闺人未识。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_1"
																/>
															
															
															<label for="0_answer_4_option_1">
																A.
																<p class="ue" style="display: inline;">杨家有女初长成</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_2"
																/>
															
															
															<label for="0_answer_4_option_2">
																B.
																<p class="ue" style="display: inline;">回眸一笑百媚生</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_3"
																/>
															
															
															<label for="0_answer_4_option_3">
																C.
																<p class="ue" style="display: inline;">后宫佳丽三千人</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_4"
																/>
															
															
															<label for="0_answer_4_option_4">
																D.
																<p class="ue" style="display: inline;">春风桃李花开日</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_4">
											<div class="test_content_nr_tt">
												<i>5</i><span>(5分)</span><font>	下列属于宋词婉约派的代表人物的是（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_1"
																/>
															
															
															<label for="0_answer_5_option_1">
																A.
																<p class="ue" style="display: inline;">苏轼</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_2"
																/>
															
															
															<label for="0_answer_5_option_2">
																B.
																<p class="ue" style="display: inline;">辛弃疾</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_3"
																/>
															
															
															<label for="0_answer_5_option_3">
																C.
																<p class="ue" style="display: inline;">柳永</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_5">
											<div class="test_content_nr_tt">
												<i>6</i><span>(5分)</span><font>成功地在诗歌中塑造自我，强烈地表现自我，突出抒情主人公的独特个性。采用雄奇的形象表现自我，在诗中毫不掩饰、不加节制地抒发自己的喜怒哀乐。这表述的是（  ）的创作风格。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_1"
																/>
															
															
															<label for="0_answer_6_option_1">
																A.
																<p class="ue" style="display: inline;">李白</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_2"
																/>
															
															
															<label for="0_answer_6_option_2">
																B.
																<p class="ue" style="display: inline;">苏轼</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_3"
																/>
															
															
															<label for="0_answer_6_option_3">
																C.
																<p class="ue" style="display: inline;">白居易</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_4"
																/>
															
															
															<label for="0_answer_6_option_4">
																D.
																<p class="ue" style="display: inline;">杜甫</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_6">
											<div class="test_content_nr_tt">
												<i>7</i><span>(5分)</span><font>出师未捷身先死，（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_1"
																/>
															
															
															<label for="0_answer_7_option_1">
																A.
																<p class="ue" style="display: inline;">长使英雄泪满襟</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_2"
																/>
															
															
															<label for="0_answer_7_option_2">
																B.
																<p class="ue" style="display: inline;">两朝开济老臣心</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_3"
																/>
															
															
															<label for="0_answer_7_option_3">
																C.
																<p class="ue" style="display: inline;">浊酒一壶千万里</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_4"
																/>
															
															
															<label for="0_answer_7_option_4">
																D.
																<p class="ue" style="display: inline;">潦倒新停浊酒杯</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_7">
											<div class="test_content_nr_tt">
												<i>8</i><span>(5分)</span><font>苏轼（  ）文学家、书画家。号东坡居士。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_1"
																/>
															
															
															<label for="0_answer_8_option_1">
																A.
																<p class="ue" style="display: inline;">唐朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_2"
																/>
															
															
															<label for="0_answer_8_option_2">
																B.
																<p class="ue" style="display: inline;">南宋</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_3"
																/>
															
															
															<label for="0_answer_8_option_3">
																C.
																<p class="ue" style="display: inline;">北宋</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_4"
																/>
															
															
															<label for="0_answer_8_option_4">
																D.
																<p class="ue" style="display: inline;">明朝</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_8">
											<div class="test_content_nr_tt">
												<i>9</i><span>(5分)</span><font>凡有井水饮处，皆能歌柳词”。指的是（  ）的词流传广泛。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_1"
																/>
															
															
															<label for="0_answer_9_option_1">
																A.
																<p class="ue" style="display: inline;">柳永</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_2"
																/>
															
															
															<label for="0_answer_9_option_2">
																B.
																<p class="ue" style="display: inline;">柳宗元</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_3"
																/>
															
															
															<label for="0_answer_9_option_3">
																C.
																<p class="ue" style="display: inline;">柳如是</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_4"
																/>
															
															
															<label for="0_answer_9_option_4">
																D.
																<p class="ue" style="display: inline;">柳下惠</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_9">
											<div class="test_content_nr_tt">
												<i>10</i><span>(5分)</span><font>有“千古第一才女”之称的词人指的是（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_1"
																/>
															
															
															<label for="0_answer_10_option_1">
																A.
																<p class="ue" style="display: inline;">李清照</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_2"
																/>
															
															
															<label for="0_answer_10_option_2">
																B.
																<p class="ue" style="display: inline;">林徽因</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_3"
																/>
															
															
															<label for="0_answer_10_option_3">
																C.
																<p class="ue" style="display: inline;">杨玉环</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_4"
																/>
															
															
															<label for="0_answer_10_option_4">
																C.
																<p class="ue" style="display: inline;">林黛玉</p>
															</label>
														</li>
												</ul>
											</div>
										</li>
																
								</ul>
							</div>
						
							<div class="test_content">
								<div class="test_content_title">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">30</i><span>题，</span><span>合计</span><i class="content_fs">30</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="qu_1_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(10分)</span><font>属于边塞诗派代表人物的有（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_1"
																/>
															
															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">高适</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_2"
																/>
															
															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">岑参</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_3"
																/>
															
															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">王昌龄</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_4"
																/>
															
															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">李益</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(10分)</span><font>初唐有名的诗人包括（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_1"
																/>
															
															<label for="1_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">王勃</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_2"
																/>
															
															<label for="1_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">杨炯</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_3"
																/>
															
															<label for="1_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">卢照邻</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_4"
																/>
															
															<label for="1_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">骆宾王</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_2">
											<div class="test_content_nr_tt">
												<i>3</i><span>(10分)</span><font>唐诗中的绝句分为（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_1"
																/>
															
															<label for="1_answer_3_option_1">
																A.
																<p class="ue" style="display: inline;">五言</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_2"
																/>
															
															<label for="1_answer_3_option_2">
																B.
																<p class="ue" style="display: inline;">七言</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_3"
																/>
															
															<label for="1_answer_3_option_3">
																C.
																<p class="ue" style="display: inline;">九言</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_4"
																/>
															
															<label for="1_answer_3_option_4">
																D.
																<p class="ue" style="display: inline;">三言</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_3">
											<div class="test_content_nr_tt">
												<i>4</i><span>(10分)</span><font>关于柳永说法正确的有（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_1"
																/>
															
															<label for="1_answer_4_option_1">
																A.
																<p class="ue" style="display: inline;">北宋著名词人，婉约派代表性人物。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_2"
																/>
															
															<label for="1_answer_4_option_2">
																B.
																<p class="ue" style="display: inline;">其词多描绘城市风光和歌妓生活，尤长于抒写羁旅行役之情，创作慢词独多。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_3"
																/>
															
															<label for="1_answer_4_option_3">
																C.
																<p class="ue" style="display: inline;">铺叙刻画，情景交融，语言通俗，音律谐婉，人称“凡有井水饮处，皆能歌柳词。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_4"
																/>
															
															<label for="1_answer_4_option_4">
																D.
																<p class="ue" style="display: inline;">《望海潮》是其作品。</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_4">
											<div class="test_content_nr_tt">
												<i>5</i><span>(10分)</span><font>唐诗的创作分四个阶段即（  ）。</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_1"
																/>
															
															<label for="1_answer_5_option_1">
																A.
																<p class="ue" style="display: inline;">初唐</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_2"
																/>
															
															<label for="1_answer_5_option_2">
																B.
																<p class="ue" style="display: inline;">盛唐</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_3"
																/>
															
															<label for="1_answer_5_option_3">
																C.
																<p class="ue" style="display: inline;">中唐</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_4"
																/>
															
															<label for="1_answer_5_option_4">
																D.
																<p class="ue" style="display: inline;">晚唐</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>							
								</ul>
							</div>
						
					</form>
				</div>

			</div>
			<div class="nr_right">
				<div class="nr_rt_main">
					<div class="rt_nr1">
						<div class="rt_nr1_title">
							<h1>
								<i class="icon iconfont">&#xe692;</i>答题卡
							</h1>
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
							</p>
						</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">10</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#qu_0_0">1</a></li>
										
											<li><a href="#qu_0_1">2</a></li>
										
											<li><a href="#qu_0_2">3</a></li>
										
											<li><a href="#qu_0_3">4</a></li>
										
											<li><a href="#qu_0_4">5</a></li>
										
											<li><a href="#qu_0_5">6</a></li>
										
											<li><a href="#qu_0_6">7</a></li>
										
											<li><a href="#qu_0_7">8</a></li>
										
											<li><a href="#qu_0_8">9</a></li>
										
											<li><a href="#qu_0_9">10</a></li>									
																					
									</ul>
								</div>
							</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">5</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#qu_1_0">1</a></li>
										
											<li><a href="#qu_1_1">2</a></li>
										
											<li><a href="#qu_1_2">3</a></li>
										
											<li><a href="#qu_1_3">4</a></li>
										
											<li><a href="#qu_1_4">5</a></li>								
											
										
									</ul>
								</div>
							</div>
						
					</div>

				</div>
			</div>
		</div>
		<!--nr end-->
		<div class="foot"></div>
	</div>

	<script src="{% static 'niji/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'niji/js/jquery.easy-pie-chart.js' %}"></script>
	<!--时间js-->
	<script src="{% static 'niji/js/jquery.countdown.js' %}"></script>
	<script>
		window.jQuery(function($) {
			"use strict";
			
			$('time').countDown({
				with_separators : false
			});
			$('.alt-1').countDown({
				css_class : 'countdown-alt-1'
			});
			$('.alt-2').countDown({
				css_class : 'countdown-alt-2'
			});
			
		});
		
		
		$(function() {
			$('li.option label').click(function() {
			debugger;
				var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
				// 设置已答题
				if(!cardLi.hasClass('hasBeenAnswer')){
					cardLi.addClass('hasBeenAnswer');
				}
				
			});
		});
	</script>
<div style="text-align:center;">
</div>
</body>
</html>