{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>测试-诗遍天涯</title>
<link href="{% static 'niji/css/test_main.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'niji/css/iconfont.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'niji/css/test.css' %}" rel="stylesheet" type="text/css" />
<style>
.hasBeenAnswer {
	background: #255B93;
	color:#fff;
}

</style>
</head>

<body>
	<div class="main">
		<!--nr start-->
		<div class="test_main">
			<div class="nr_left">
				<div class="test">
					<form action="" method="post">
						<div class="test_title">
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
							</p>
							<font>
								<a href="/test/success"><input type="button" name="test_jiaojuan" value="提交"></font></a>
						</div>
						
							<div class="test_content">
								<h1 align="center" style="margin-bottom: 15px;">古诗词综合练习</h1>
								<div class="test_content_title">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">15</i><span>题，</span><span>合计</span><i class="content_fs">100</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="qu_0_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(5分)</span><font>《声声慢》一词所写的景物的季节特征是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_1"
																/>
															
															
															<label for="0_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">初秋</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_2"
																/>
															
															
															<label for="0_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">深秋</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_3"
																/>
															
															
															<label for="0_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">初春</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer1"
																	id="0_answer_1_option_4"
																/>
															
															
															<label for="0_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">暮春</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(5分)</span><font>我国宋代著名女词人李清照的作品集是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_1"
																/>
															
															
															<label for="0_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">《乐章集》</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_2"
																/>
															
															
															<label for="0_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">《漱玉词》</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_3"
																/>
															
															
															<label for="0_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">《花间集》</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer2"
																	id="0_answer_2_option_4"
																/>
															
															
															<label for="0_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">《稼轩长短句》</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_2">
											<div class="test_content_nr_tt">
												<i>3</i><span>(5分)</span><font>	李清照的《声声慢》是一首（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_1"
																/>
															
															
															<label for="0_answer_3_option_1">
																A.
																<p class="ue" style="display: inline;">婉约词</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_2"
																/>
															
															
															<label for="0_answer_3_option_2">
																B.
																<p class="ue" style="display: inline;">豪放词</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer3"
																	id="0_answer_3_option_3"
																/>
															
															
															<label for="0_answer_3_option_3">
																C.
																<p class="ue" style="display: inline;">抒情词</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_3">
											<div class="test_content_nr_tt">
												<i>4</i><span>(5分)</span><font>	“生当作人杰，死亦为鬼雄。”一句运用了抒情方式？(  )</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_1"
																/>
															
															
															<label for="0_answer_4_option_1">
																A.
																<p class="ue" style="display: inline;">借景抒情</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_2"
																/>
															
															
															<label for="0_answer_4_option_2">
																B.
																<p class="ue" style="display: inline;">借物抒情</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_3"
																/>
															
															
															<label for="0_answer_4_option_3">
																C.
																<p class="ue" style="display: inline;">直抒胸臆</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer4"
																	id="0_answer_4_option_4"
																/>
															
															
															<label for="0_answer_4_option_4">
																D.
																<p class="ue" style="display: inline;">融情于景</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_4">
											<div class="test_content_nr_tt">
												<i>5</i><span>(5分)</span><font>	“至今思项羽，不肯过江东。”一句中的“不肯”指的是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_1"
																/>
															
															
															<label for="0_answer_5_option_1">
																A.
																<p class="ue" style="display: inline;">不能</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_2"
																/>
															
															
															<label for="0_answer_5_option_2">
																B.
																<p class="ue" style="display: inline;">不想</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer5"
																	id="0_answer_5_option_3"
																/>
															
															
															<label for="0_answer_5_option_3">
																C.
																<p class="ue" style="display: inline;">“可杀不可辱”、“死不惧而辱不受”的英雄豪气</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_5">
											<div class="test_content_nr_tt">
												<i>6</i><span>(5分)</span><font>《满江红·写怀》的作者是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_1"
																/>
															
															
															<label for="0_answer_6_option_1">
																A.
																<p class="ue" style="display: inline;">李白</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_2"
																/>
															
															
															<label for="0_answer_6_option_2">
																B.
																<p class="ue" style="display: inline;">苏轼</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_3"
																/>
															
															
															<label for="0_answer_6_option_3">
																C.
																<p class="ue" style="display: inline;">白居易</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer6"
																	id="0_answer_6_option_4"
																/>
															
															
															<label for="0_answer_6_option_4">
																D.
																<p class="ue" style="display: inline;">岳飞</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_6">
											<div class="test_content_nr_tt">
												<i>7</i><span>(5分)</span><font>《满江红·写怀》中词语解释错误的是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_1"
																/>
															
															
															<label for="0_answer_7_option_1">
																A.
																<p class="ue" style="display: inline;">等闲：等着休假。</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_2"
																/>
															
															
															<label for="0_answer_7_option_2">
																B.
																<p class="ue" style="display: inline;">胡虏（lǔ）：对女真贵族入侵者的蔑称。</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_3"
																/>
															
															
															<label for="0_answer_7_option_3">
																C.
																<p class="ue" style="display: inline;">朝天（阙）：朝见皇帝。</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer7"
																	id="0_answer_7_option_4"
																/>
															
															
															<label for="0_answer_7_option_4">
																D.
																<p class="ue" style="display: inline;">天阙：本指宫殿前的楼观，此指皇帝生活的地方。</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_7">
											<div class="test_content_nr_tt">
												<i>8</i><span>(5分)</span><font>岳飞是哪个朝代的人（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_1"
																/>
															
															
															<label for="0_answer_8_option_1">
																A.
																<p class="ue" style="display: inline;">唐朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_2"
																/>
															
															
															<label for="0_answer_8_option_2">
																B.
																<p class="ue" style="display: inline;">宋朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_3"
																/>
															
															
															<label for="0_answer_8_option_3">
																C.
																<p class="ue" style="display: inline;">元朝</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer8"
																	id="0_answer_8_option_4"
																/>
															
															
															<label for="0_answer_8_option_4">
																D.
																<p class="ue" style="display: inline;">明朝</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_8">
											<div class="test_content_nr_tt">
												<i>9</i><span>(5分)</span><font>对《满江红·写怀》的语句的解说，不恰当的一项是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_1"
																/>
															
															
															<label for="0_answer_9_option_1">
																A.
																<p class="ue" style="display: inline;">开头三句写作者倚栏远眺，在一片风雨凄迷中，作者仿佛看到了中原人民在金兵铁蹄蹂躏下辗转呼号的惨境，以致于“怒发冲冠”。</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_2"
																/>
															
															
															<label for="0_answer_9_option_2">
																B.
																<p class="ue" style="display: inline;">“三十功名尘与土，八千里路云和月”两句写自己已30多岁，建立的一些功业已化为了尘土，只留下当年披星戴月转战千里的回忆。</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_3"
																/>
															
															
															<label for="0_answer_9_option_3">
																C.
																<p class="ue" style="display: inline;">“驾长车”句写自己要驾着战车向敌军猛攻，要把敌人的要塞贺兰山踏破缺口，践为平地。</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer9"
																	id="0_answer_9_option_4"
																/>
															
															
															<label for="0_answer_9_option_4">
																D.
																<p class="ue" style="display: inline;">“壮志”句中的“壮志”与“笑谈”是互文，突出地表达了作者对金统治者侵扰罪行的切齿痛恨。</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_0_9">
											<div class="test_content_nr_tt">
												<i>10</i><span>(5分)</span><font>下列句中音顿划分有误的一项（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_1"
																/>
															
															
															<label for="0_answer_10_option_1">
																A.
																<p class="ue" style="display: inline;">乍暖/还寒/时候，最难/将息</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_2"
																/>
															
															
															<label for="0_answer_10_option_2">
																B.
																<p class="ue" style="display: inline;">满地/黄花/堆积，憔悴/损</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_3"
																/>
															
															
															<label for="0_answer_10_option_3">
																C.
																<p class="ue" style="display: inline;">守着/窗儿，独自/怎生/得黑</p>
															</label>
														</li>
													
													<li class="option">
															
																<input type="radio" class="radioOrCheck" name="answer10"
																	id="0_answer_10_option_4"
																/>
															
															
															<label for="0_answer_10_option_4">
																C.
																<p class="ue" style="display: inline;">这次/第，怎一个/愁字/了得</p>
															</label>
														</li>
												</ul>
											</div>
										</li>
																
								</ul>
							</div>
						
							<div class="test_content">
								<div class="test_content_title">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">30</i><span>题，</span><span>合计</span><i class="content_fs">30</i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul>
									
										<li id="qu_1_0">
											<div class="test_content_nr_tt">
												<i>1</i><span>(10分)</span><font>下列加点词的解释正确的是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_1"
																/>
															
															<label for="1_answer_1_option_1">
																A.
																<p class="ue" style="display: inline;">乍暖还寒时候，最难将息：休息，调养</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_2"
																/>
															
															<label for="1_answer_1_option_2">
																B.
																<p class="ue" style="display: inline;">怎敌他、晚来风急：对抗，抵挡</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_3"
																/>
															
															<label for="1_answer_1_option_3">
																C.
																<p class="ue" style="display: inline;">如今有谁堪摘：可以，能够</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer1"
																	id="1_answer_1_option_4"
																/>
															
															<label for="1_answer_1_option_4">
																D.
																<p class="ue" style="display: inline;">这次第，怎一个愁字了得：依次产生的情况</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_1">
											<div class="test_content_nr_tt">
												<i>2</i><span>(10分)</span><font>《夏日绝句》中，下列词语解释正确的是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_1"
																/>
															
															<label for="1_answer_2_option_1">
																A.
																<p class="ue" style="display: inline;">人杰：人中的豪杰。汉高祖曾称赞开国功臣张良、萧何、韩信是“人杰”。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_2"
																/>
															
															<label for="1_answer_2_option_2">
																B.
																<p class="ue" style="display: inline;">鬼雄：鬼中的英雄。屈原《国殇》：身既死兮神以灵，子魂魄兮为鬼雄。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_3"
																/>
															
															<label for="1_answer_2_option_3">
																C.
																<p class="ue" style="display: inline;">项羽：秦末时自立为西楚霸王，与刘邦争夺天下，在垓下之战中，兵败自杀。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer2"
																	id="1_answer_2_option_4"
																/>
															
															<label for="1_answer_2_option_4">
																D.
																<p class="ue" style="display: inline;">江东：黄浦江以东。</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_2">
											<div class="test_content_nr_tt">
												<i>3</i><span>(10分)</span><font>《夏日绝句》一诗鲜明地提出了作者的人生的价值取向（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_1"
																/>
															
															<label for="1_answer_3_option_1">
																A.
																<p class="ue" style="display: inline;">人活着就要做人中的豪杰，为国家建功立业</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_2"
																/>
															
															<label for="1_answer_3_option_2">
																B.
																<p class="ue" style="display: inline;">死也要为国捐躯，成为鬼中的英雄</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_3"
																/>
															
															<label for="1_answer_3_option_3">
																C.
																<p class="ue" style="display: inline;">爱国激情，溢于言表</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer3"
																	id="1_answer_3_option_4"
																/>
															
															<label for="1_answer_3_option_4">
																D.
																<p class="ue" style="display: inline;">抛弃中原河山，苟且偷生</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_3">
											<div class="test_content_nr_tt">
												<i>4</i><span>(10分)</span><font>对《满江红·写怀》的赏析，恰当的是（）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_1"
																/>
															
															<label for="1_answer_4_option_1">
																A.
																<p class="ue" style="display: inline;">这首词音调激越，风格豪迈悲壮，为我们勾出了一位硬骨铮铮、忧国忧民的英雄形象。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_2"
																/>
															
															<label for="1_answer_4_option_2">
																B.
																<p class="ue" style="display: inline;">全词分四层抒发了“壮怀”:回顾往昔战斗岁月，激励自己继续奋斗，国耻未雪，臣恨难灭;消灭敌人，收复失地;统一江山，朝拜皇帝。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_3"
																/>
															
															<label for="1_answer_4_option_3">
																C.
																<p class="ue" style="display: inline;">上阕结尾“莫等闲”句已成为激励人们珍惜青春年华，早当奋发有为的千古箴铭;下阕结句把“朝天阙”当作自己的最高理想，流露出的忠君思想则是不足取的。</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer4"
																	id="1_answer_4_option_4"
																/>
															
															<label for="1_answer_4_option_4">
																D.
																<p class="ue" style="display: inline;">这首词语言朴实粗犷，掷地有声，很好地表达了悲愤激越的情感。</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
										<li id="qu_1_4">
											<div class="test_content_nr_tt">
												<i>5</i><span>(10分)</span><font>近体诗有（）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_1"
																/>
															
															<label for="1_answer_5_option_1">
																A.
																<p class="ue" style="display: inline;">绝句</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_2"
																/>
															
															<label for="1_answer_5_option_2">
																B.
																<p class="ue" style="display: inline;">律诗</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_3"
																/>
															
															<label for="1_answer_5_option_3">
																C.
																<p class="ue" style="display: inline;">排律</p>
															</label>
														</li>
													
														<li class="option">
															
															
																<input type="checkbox" class="radioOrCheck" name="answer5"
																	id="1_answer_5_option_4"
																/>
															
															<label for="1_answer_5_option_4">
																D.
																<p class="ue" style="display: inline;">长短句</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>							
								</ul>
							</div>
						
					</form>
				</div>

			</div>
			<div class="nr_right">
				<div class="nr_rt_main">
					<div class="rt_nr1">
						<div class="rt_nr1_title">
							<h1>
								<i class="icon iconfont">&#xe692;</i>答题卡
							</h1>
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:00</b>
							</p>
						</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">10</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#qu_0_0">1</a></li>
										
											<li><a href="#qu_0_1">2</a></li>
										
											<li><a href="#qu_0_2">3</a></li>
										
											<li><a href="#qu_0_3">4</a></li>
										
											<li><a href="#qu_0_4">5</a></li>
										
											<li><a href="#qu_0_5">6</a></li>
										
											<li><a href="#qu_0_6">7</a></li>
										
											<li><a href="#qu_0_7">8</a></li>
										
											<li><a href="#qu_0_8">9</a></li>
										
											<li><a href="#qu_0_9">10</a></li>									
																					
									</ul>
								</div>
							</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>多选题</h2>
									<p>
										<span>共</span><i class="content_lit">5</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul>
										
											<li><a href="#qu_1_0">1</a></li>
										
											<li><a href="#qu_1_1">2</a></li>
										
											<li><a href="#qu_1_2">3</a></li>
										
											<li><a href="#qu_1_3">4</a></li>
										
											<li><a href="#qu_1_4">5</a></li>								
											
										
									</ul>
								</div>
							</div>
						
					</div>

				</div>
			</div>
		</div>
		<!--nr end-->
		<div class="foot"></div>
	</div>

	<script src="{% static 'niji/js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'niji/js/jquery.easy-pie-chart.js' %}"></script>
	<!--时间js-->
	<script src="{% static 'niji/js/jquery.countdown.js' %}"></script>
	<script>
		window.jQuery(function($) {
			"use strict";
			
			$('time').countDown({
				with_separators : false
			});
			$('.alt-1').countDown({
				css_class : 'countdown-alt-1'
			});
			$('.alt-2').countDown({
				css_class : 'countdown-alt-2'
			});
			
		});
		
		
		$(function() {
			$('li.option label').click(function() {
			debugger;
				var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
				// 设置已答题
				if(!cardLi.hasClass('hasBeenAnswer')){
					cardLi.addClass('hasBeenAnswer');
				}
				
			});
		});
	</script>
<div style="text-align:center;">
</div>
</body>
</html>