<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/echarts.min.js"></script>
    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        .searchbox{
            width: 600px;
            height: 100px;
            position: relative;
            top: 50px;
            left: 0px;
        }
        .logo{
            width: 300px;
            height: 300px;
            /* position: fixed; */
            top: 50px;
            left: 200px;
        }
        .back2{
            position: absolute;
            width: 100px;
            height: 30px;
            top: 10px;
            right: 10px;
        }
    </style>
    <title>事理图谱古诗词学习工具</title>
</head>

<body background="/static/background2.png">

    <!-- Logo -->
    <!-- <div class="logo">
        <img src="/static/IMG_09081.jpg" alt="Logo" class="img-circle" width="140px" height="140px">
    </div> -->
    
    <!-- system name -->
    <center>
    <div>
        <h2 style="position: relative; left: 10px;color: black;">事理图谱古诗词学习工具</h2>
    </div>
    </center>

    <div class="back2">
        <input type="button" style="width: 90px;" name="Submit" onclick="window.location.href='/'" value="返回首页">
    </div>

    <!-- 主页面的两个列表项 -->
    <a href="/tp/古诗词列表/" style="color: black; position: relative; left: 685px;"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>古诗词列表</a>
    <a href="/tp/历史列表/" style="color: black; position: relative; left: 685px;"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>历史列表</a>

    <!-- 搜索框 -->
    <center>
    <div class="searchbox">
        <form method="POST" action="/tp/search">
            <input class="form-control" type="text" name="title" placeholder="请输入图谱节点名称、古诗词题目、历史地点或者历史人物">
            <br>
            <input style="margin-left:5px;" class="btn btn-default" type="submit" value="确认">
            <input style="margin-left:50px;" class="btn btn-default" type="reset" value="重置">          
        </form>      
    </div>
    </center>

    <!-- 图谱总图 -->
    <div id="container" style="width: 90%;height: 550px;position: relative; top: 70px;left: 75px;"></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        var get=function(e){
            var newStr=" ";
            var start,end;
            var name_len=e.name.length;    　　　　　　　　　　　　   //每个内容名称的长度
            var max_name=4;    　　　　　　　　　　　　　　　　　　//每行最多显示的字数
            var new_row = Math.ceil(name_len / max_name); 　　　　// 最多能显示几行，向上取整
                if(name_len>max_name){ 　　　　　　　　　　　　　　  //如果长度大于每行最多显示的字数
                    for(var i=0;i<new_row;i++){ 　　　　　　　　　　　   //循环次数就是行数
                        var old='';    　　　　　　　　　　　　　　　　    //每次截取的字符
                        start=i*max_name;    　　　　　　　　　　     //截取的起点
                        end=start+max_name;    　　　　　　　　　  //截取的终点
                        if(i==new_row-1){    　　　　　　　　　　　　   //最后一行就不换行了
                            old=e.name.substring(start);
                        }else{
                            old=e.name.substring(start,end)+"\n";    
                        }
                        newStr+=old; //拼接字符串
                    }
                }else{                                          //如果小于每行最多显示的字数就返回原来的字符串
                    newStr=e.name; 
                }
                return newStr;
        }
        option = null;
        option = {
            series: [
                {
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 80,
                    roam: false,
                    edgeSymbol: ['circle', 'circle'],
                    edgeSymbolSize: [1, 1],
                    edgeLabel: {
                        normal: {
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    force: {
                        repulsion: 1000,
                        edgeLength: [10, 50]
                    },
                    draggable: true,
                    itemStyle: {
                        normal: {
                            color: 'royalblue'
                        }
                    },
                    lineStyle: {
                        normal: {
                            width: 2,
                            color: '#4b565b'

                        }
                    },
                    label: {
                        show: true,
                            formatter:get,
                            textStyle: {
                            align:"center",
                            baseline:"middle",
                            }
                    },
                    data: [
                        {
                            name: '岳阳楼',
                            id:'0',
                            itemStyle: {
                                    normal: {
                                        color: '#a52a2a'
                                    }
                                },
                        }, {
                            name: '历史沿革',
                            id:'1',
                            itemStyle: {
                                    normal: {
                                        color: '#4b565b'
                                    }
                                },
                        }, {
                            name: '建筑格局',
                            id:'2',
                            itemStyle: {
                                    normal: {
                                        color: '#4b565b'
                                    }
                                },
                        }, {
                            name: '相关诗文',
                            id:'3',
                            itemStyle: {
                                    normal: {
                                        color: '#4b565b'
                                    }
                                },
                        }, {
                            name: '主要建筑',
                            id:'14',
                            itemStyle: {
                                    normal: {
                                        color: '#4b565b'
                                    }
                                },
                        }, {
                            name: '临江仙·巴陵',
                            id:'4'
                        }, {
                            name: '绝句',
                            id:'5'
                        },{
                            name:'与夏十二登岳阳楼',
                            id:'6'
                        },{
                            name:'题岳阳楼',
                            id:'7'
                        },{
                            name:'登岳阳楼',
                            id:'8'
                        },{
                            name:'岳阳楼记',
                            id:'9'
                        },{
                            name:'游岳阳楼记',
                            id:'10'
                        },{
                            name:'雨中登岳阳楼望君山',
                            id:'11'
                        },{
                            name:'泊岳阳城下',
                            id:'12'
                        },{
                            name:'咸阳值雨',
                            id:'13'
                        },{
                            name:'仙梅亭',
                            id:'15'
                        },{
                            name:'怀甫亭',
                            id:'16'
                        },{
                            name:'散醉亭',
                            id:'17'
                        }
                    ],
                    links: [
                        {
                            source: '0',
                            target: '1',
                        }, {
                            source: '0',
                            target: '2',
                        }, {
                            source: '0',
                            target: '3',
                        }, {
                            source: '0',
                            target: '14',
                        }, {
                            source:'3',
                            target:'4',
                        }, {
                            source:'3',
                            target:'5',
                        }, {
                            source:'3',
                            target:'6',
                        }, {
                            source:'3',
                            target:'7',
                        }, {
                            source:'3',
                            target:'8',
                        }, {
                            source:'3',
                            target:'9',
                        }, {
                            source:'3',
                            target:'10',
                        }, {
                            source:'3',
                            target:'11',
                        }, {
                            source:'3',
                            target:'12',
                        }, {
                            source:'3',
                            target:'13',
                        }, {
                            source:'14',
                            target:'15',
                        }, {
                            source:'14',
                            target:'16',
                        }, {
                            source:'14',
                            target:'17',
                        }
                    ]
                }
            ]
        };
        myChart.setOption(option, true);
        myChart.on('click', function (param){
            var name=param.name;
            if(name=="靖康之变"){
                top.location.href="/tp/靖康之变/";
            }
            else if(name=="宋徽宗不理朝政"){
                top.location.href="/tp/宋徽宗不理朝政/";
            }
            else if(name=="北宋联金攻辽"){
                top.location.href="/tp/北宋联金攻辽/";
            }
            else if(name=="海上之盟"){
                top.location.href="/tp/海上之盟/";
            }
            else if(name=="辽国灭亡"){
                top.location.href="/tp/辽国灭亡/";
            }
            else if(name=="金国撕毁海上之盟"){
                top.location.href="/tp/金国撕毁海上之盟/";
            }
            else if(name=="金国攻打北宋"){
                top.location.href="/tp/金国攻打北宋/";
            }
            else if(name=="徽钦二宗被掳"){
                top.location.href="/tp/徽钦二宗被掳/";
            }
            else if(name=="金军占领汴州"){
                top.location.href="/tp/金军占领汴州/";
            }
            else if(name=="北宋灭亡"){
                top.location.href="/tp/北宋灭亡/";
            }
            else if(name=="康王赵构南下继位宋高宗"){
                top.location.href="/tp/康王赵构南下继位宋高宗/";
            }
            else if(name=="南宋建立"){
                top.location.href="/tp/南宋建立/";
            }
            else if(name=="金军南扑"){
                top.location.href="/tp/金军南扑/";
            }
            else if(name=="宋军英勇反抗"){
                top.location.href="/tp/宋军英勇反抗/";
            }
            else if(name=="宋高宗入海逃避"){
                top.location.href="/tp/宋高宗入海逃避/";
            }
            else if(name=="金军北撤"){
                top.location.href="/tp/金军北撤/";
            }
            else if(name=="韩世忠围困金军"){
                top.location.href="/tp/韩世忠围困金军/";
            }
            else if(name=="岳飞大败金军"){
                top.location.href="/tp/岳飞大败金军/";
            }
            else if(name=="宋金议和"){
                top.location.href="/tp/宋金议和/";
            }
            else if(name=="金毁和约攻南宋"){
                top.location.href="/tp/金毁和约攻南宋/";
            }
            else if(name=="岳飞抗金"){
                top.location.href="/tp/岳飞抗金/";
            }
            else if(name=="南宋采用投降政策"){
                top.location.href="/tp/南宋采用投降政策/";
            }
            else if(name=="秦桧任宰相"){
                top.location.href="/tp/秦桧任宰相/";
            }
            else if(name=="岳飞被害"){
                top.location.href="/tp/岳飞被害/";
            }
            else if(name=="宋金和议《绍兴和约》"){
                top.location.href="/tp/宋金和议《绍兴和约》/";
            }
            else if(name=="南宋偏安杭州"){
                top.location.href="/tp/南宋偏安杭州/";
            }
            else if(name=="南宋不思北上中原"){
                top.location.href="/tp/南宋不思北上中原/";
            }
        });
        myChart.on('click',eConsole);
    </script>

    <div style="width: 100%;height: 120px;">
        <!-- 占位 -->
    </div>

</body>
</html>