<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/backgroundimg.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/echarts.min.js"></script>
    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        .history_table{
            width: 200px;
            height: 100%;
            /* position: relative;
            top: 50px;
            left: 0px; */
        }
        .back1{
            position: absolute;
            width: 100px;
            height: 30px;
            top: 10px;
            right: 10px;
        }
    </style>
    <title>历史列表</title>
</head>
<body>

    <!--背景-->
    <div class="wrapper">     
        <div id="web_bg" style="background-image: url(/static/列表背景.jpg);"></div>
    </div>

    <!-- 返回按钮 -->
    <div class="back1">
        <input type="button" style="width: 90px;" name="Submit" onclick="window.location.href='/'" value="返回首页">
    </div>
    
    <center>
        <h1>历史列表</h1>   
    </center>

    <!-- 列表主体 -->
    <center>
        <div class="history_table">
            <table class="table table-hover ">
                <tr>
                    <th>历史事件</th>
                </tr>
                <tr onclick="location.href='/tp/宋徽宗不理朝政/';">
                    <td>宋徽宗不理朝政</td>
                </tr>
                <tr onclick="location.href='/tp/北宋联金攻辽/';">
                    <td>北宋联金攻辽</td>
                </tr>             
                <tr onclick="location.href='/tp/海上之盟/';">
                    <td>海上之盟</td>
                </tr>
                <tr onclick="location.href='/tp/辽国灭亡/';">
                    <td>辽国灭亡</td>
                </tr>
                <tr onclick="location.href='/tp/金国撕毁海上之盟/';">
                    <td>金国撕毁海上之盟</td>
                </tr>
                <tr onclick="location.href='/tp/金国攻打北宋/';">
                    <td>金国攻打北宋</td>
                </tr>
                <tr onclick="location.href='/tp/徽钦二宗被掳/';">
                    <td>徽钦二宗被掳</td>
                </tr>
                <tr onclick="location.href='/tp/金军占领汴州/';">
                    <td>金军占领汴州</td>
                </tr>
                <tr onclick="location.href='/tp/靖康之变/';">
                    <td>靖康之变</td>
                </tr>
                <tr onclick="location.href='/tp/北宋灭亡/';">
                    <td>北宋灭亡</td>
                </tr>
                <tr onclick="location.href='/tp/康王赵构南下继位宋高宗/';">
                    <td>康王赵构南下继位宋高宗</td>
                </tr>
                <tr onclick="location.href='/tp/南宋建立/';">
                    <td>南宋建立</td>
                </tr>
                <tr onclick="location.href='/tp/金军南扑/';">
                    <td>金军南扑</td>
                </tr>
                <tr onclick="location.href='/tp/宋军英勇反抗/';">
                    <td>宋军英勇反抗</td>
                </tr>
                <tr onclick="location.href='/tp/宋高宗入海逃避/';">
                    <td>宋高宗入海逃避</td>
                </tr>
                <tr onclick="location.href='/tp/金军北撤/';">
                    <td>金军北撤</td>
                </tr>
                <tr onclick="location.href='/tp/韩世忠围困金军/';">
                    <td>韩世忠围困金军</td>
                </tr>
                <tr onclick="location.href='/tp/岳飞大败金军/';">
                    <td>岳飞大败金军</td>
                </tr>
                <tr onclick="location.href='/tp/宋金议和/';">
                    <td>宋金议和</td>
                </tr>
                <tr onclick="location.href='/tp/金毁和约攻南宋/';">
                    <td>金毁和约攻南宋</td>
                </tr>
                <tr onclick="location.href='/tp/岳飞抗金/';">
                    <td>岳飞抗金</td>
                </tr>
                <tr onclick="location.href='/tp/南宋采用投降政策/';">
                    <td>南宋采用投降政策</td>
                </tr>
                <tr onclick="location.href='/tp/秦桧任宰相/';">
                    <td>秦桧任宰相</td>
                </tr>
                <tr onclick="location.href='/tp/岳飞被害/';">
                    <td>岳飞被害</td>
                </tr>
                <tr onclick="location.href='/tp/宋金和议《绍兴和约》/';">
                    <td>宋金和议《绍兴和约》</td>
                </tr>
                <tr onclick="location.href='/tp/南宋偏安杭州/';">
                    <td>南宋偏安杭州</td>
                </tr>
                <tr onclick="location.href='/tp/南宋不思北上中原/';">
                    <td>南宋不思北上中原</td>
                </tr>
            </table>    
        </div>
    </center>

</body>
</html>