<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/backgroundimg.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/echarts.min.js"></script>
    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        .pome_table{
            width: 800px;
            height: 100%;
            /* position: relative;
            top: 50px;
            left: 0px; */
        }
        .back1{
            position: absolute;
            width: 100px;
            height: 30px;
            top: 10px;
            right: 10px;
        }
    </style>
    <title>古诗词列表</title>
</head>
<body>

    <!--背景-->
    <div class="wrapper">     
        <div id="web_bg" style="background-image: url(/static/列表背景.jpg);"></div>
    </div>    

    <!-- 返回按钮 -->
    <div class="back1">
        <input type="button" style="width: 90px;" name="Submit" onclick="window.location.href='/'" value="返回首页">
    </div>
    
    <center>
        <h1>古诗词列表</h1>   
    </center>

    <!-- 列表主体 -->
    <center>
        <div class="pome_table">
            <table class="table table-hover ">
                <tr>
                    <th>古诗词题目</th>
                    <th>朝代</th>
                    <th>作者</th>
                </tr>
                <tr onclick="location.href='/tp/登岳阳楼/';">
                    <td>登岳阳楼</td>
                    <td>唐代</td>
                    <td>杜甫</td>
                </tr>
                <tr onclick="location.href='/tp/泊岳阳城下/';">
                    <td>泊岳阳城下</td>
                    <td>唐代</td>
                    <td>杜甫</td>
                </tr>             
                <tr onclick="location.href='/tp/题岳阳楼/';">
                    <td>题岳阳楼</td>
                    <td>唐代</td>
                    <td>白居易</td>
                </tr>
                <tr onclick="location.href='/tp/与夏十二登岳阳楼/';">
                    <td>与夏十二登岳阳楼</td>
                    <td>唐代</td>
                    <td>李白</td>
                </tr>
                <tr onclick="location.href='/tp/岳阳楼/';">
                    <td>岳阳楼</td>
                    <td>唐代</td>
                    <td>元稹</td>
                </tr>
                <tr onclick="location.href='/tp/雨中登岳阳楼望君山/';">
                    <td>雨中登岳阳楼望君山</td>
                    <td>宋代</td>
                    <td>黄庭坚</td>
                </tr>
                <tr onclick="location.href='/tp/岳阳楼记/';">
                    <td>岳阳楼记</td>
                    <td>宋代</td>
                    <td>范仲淹</td>
                </tr>
                <tr onclick="location.href='/tp/游岳阳楼记/';">
                    <td>游岳阳城记</td>
                    <td>明代</td>
                    <td>袁中道</td>
                </tr>
            </table>    
        </div>
    </center>

</body>
</html>