<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/backgroundimg.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .player_f{
            position: relative;
            width: 400px;
            height: 200px;
            top: 500px;
            left: 350px;
        }
        .player_s{
            position: absolute;
            width: 80px;
            height: 80px;
            top: 50px;
            left: 120px;
        }
        .jpg1{
            position: absolute;
            width: 900px;
            height: 450px;
            top: 50px;
            left: 350px;
        }
        .text1{
            position: absolute;
            width: 500px;
            height: 350px;
            top: 500px;
            left: 750px;
        }
        .back1{
            position: absolute;
            width: 100px;
            height: 30px;
            top: 10px;
            right: 120px;
        }
        .back2{
            position: absolute;
            width: 100px;
            height: 30px;
            top: 10px;
            right: 10px;
        }
    </style>
    <title>夜游宫·记梦寄师伯浑</title>
</head>
<body>
    
    <!--背景-->
    <div class="wrapper">     
        <div id="web_bg" style="background-image: url(/static/古诗词背景.jpg);"></div>
    </div>

    <!-- 返回按钮 -->
    <div class="back1">
        <input type="button" style="width: 90px;" name="Submit" onclick="window.location.href='/'" value="返回首页">
    </div>
    <div class="back2">
        <input type="button" style="width: 90px;" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">
    </div>
    
    <!-- 古诗（图） -->
    <div class="jpg1">
        <img src="/static/夜游宫·记梦寄师伯浑.png" width="900" height="300" alt="">
    </div>

    <!-- 相关视频 -->
    <div class="player_f">
        <a href="https://baijiahao.baidu.com/s?id=1653301477920281398&wfr=content" target="_blank" class="small_img_con">
            <img src="https://vdposter.bdstatic.com/feac8315f6d0ff8c80f6e92da4bb86f1.jpeg?x-bce-process=image/resize,m_fill,w_320,h_180/format,f_jpg/quality,Q_100" alt="">
            <div class="player_s"><span class="glyphicon glyphicon-play-circle glyphicon-lg" style="font-size: 80px; color:grey;" aria-hidden="true"></span></div>
        </a>
    </div>

    <!-- 文字描述 -->
    <div class="text1">
        <p style="font-size: 30px;">
            词的上片记梦，写梦游中他来到前线，清笳四起，铁骑无声，关塞雄丽，一派清寒肃穆的边塞军旅生活场面。下片抒情，对孤苦寒灯，听凄切漏声，看斜月清冷，感慨功名未就，悲叹鬓发花白，却依然执着自信，壮志不老。这首词抒发了高度的爱国主义精神，表现了对南宋朝皇帝和一些大臣主张议和，偏安杭州的不满。
        </p>
    </div>

    <!-- 子图 -->
    <div id="container" style="width: 90%;height: 100px;position: relative; top: 700px;left: 75px;"></div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
        <script type="text/javascript">
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            var get=function(e){
                var newStr=" ";
                var start,end;
                var name_len=e.name.length;    　　　　　　　　　　　　   //每个内容名称的长度
                var max_name=4;    　　　　　　　　　　　　　　　　　　//每行最多显示的字数
                var new_row = Math.ceil(name_len / max_name); 　　　　// 最多能显示几行，向上取整
                    if(name_len>max_name){ 　　　　　　　　　　　　　　  //如果长度大于每行最多显示的字数
                        for(var i=0;i<new_row;i++){ 　　　　　　　　　　　   //循环次数就是行数
                            var old='';    　　　　　　　　　　　　　　　　    //每次截取的字符
                            start=i*max_name;    　　　　　　　　　　     //截取的起点
                            end=start+max_name;    　　　　　　　　　  //截取的终点
                            if(i==new_row-1){    　　　　　　　　　　　　   
                                old=e.name.substring(start);
                            }else{
                                old=e.name.substring(start,end)+"\n";    
                            }
                            newStr+=old; //拼接字符串
                        }
                    }else{                                          
                        newStr=e.name; 
                    }
                    return newStr;
            }
            option = null;
            option = {
                title: {
                },
                // tooltip: {},（鼠标放到某个节点或者边时显示的悬浮框）
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'quinticInOut',
                series: [
                    {
                        type: 'graph',
                        layout: 'none',
                        symbolSize: 70,
                        focusNodeAdjacency: true,
                        roam: false,
                        label: {
                            show: true,
                            formatter:get,
                            textStyle: {
                            align:"center",
                            baseline:"middle",
                                }
                        },
                        edgeSymbol: ['circle', 'arrow'],
                        edgeSymbolSize: [1, 10],
                        edgeLabel: {
                            fontSize: 50,
                            normal: {
                                show: true,
                                formatter: function (x) {
                                    return x.data.name;
                                }
                            }
                        },
                        itemStyle: {
                                normal: {
                                    lineStyle:{
                                        width:2//设置线条粗细
                                    }
                                }
                            },
                        data: [{
                            name: '宋金和议《绍兴和约》',
                            x: 395,
                            y: 250
                        }, {
                            name: '南宋偏安杭州',
                            x: 400,
                            y: 250
                        }],
                        links: [{
                            source: 0,
                            target: 1,
                            name: "因果"
                        }],
                        lineStyle: {
                            opacity: 0.9,
                            width: 2,
                            curveness: 0,
                             normal: {
                                         color: '#000'
                                     },
                        }
                    }
                ]
            };;
            myChart.setOption(option, true);
            myChart.on('click', function (param){
                var name=param.name;
                if(name=="靖康之变"){
                top.location.href="/tp/靖康之变/";
                }
                else if(name=="宋徽宗不理朝政"){
                    top.location.href="/tp/宋徽宗不理朝政/";
                }
                else if(name=="北宋联金攻辽"){
                    top.location.href="/tp/北宋联金攻辽/";
                }
                else if(name=="海上之盟"){
                    top.location.href="/tp/海上之盟/";
                }
                else if(name=="辽国灭亡"){
                    top.location.href="/tp/辽国灭亡/";
                }
                else if(name=="金国撕毁海上之盟"){
                    top.location.href="/tp/金国撕毁海上之盟/";
                }
                else if(name=="金国攻打北宋"){
                    top.location.href="/tp/金国攻打北宋/";
                }
                else if(name=="徽钦二宗被掳"){
                    top.location.href="/tp/徽钦二宗被掳/";
                }
                else if(name=="金军占领汴州"){
                    top.location.href="/tp/金军占领汴州/";
                }
                else if(name=="北宋灭亡"){
                    top.location.href="/tp/北宋灭亡/";
                }
                else if(name=="康王赵构南下继位宋高宗"){
                    top.location.href="/tp/康王赵构南下继位宋高宗/";
                }
                else if(name=="南宋建立"){
                    top.location.href="/tp/南宋建立/";
                }
                else if(name=="金军南扑"){
                    top.location.href="/tp/金军南扑/";
                }
                else if(name=="宋军英勇反抗"){
                    top.location.href="/tp/宋军英勇反抗/";
                }
                else if(name=="宋高宗入海逃避"){
                    top.location.href="/tp/宋高宗入海逃避/";
                }
                else if(name=="金军北撤"){
                    top.location.href="/tp/金军北撤/";
                }
                else if(name=="韩世忠围困金军"){
                    top.location.href="/tp/韩世忠围困金军/";
                }
                else if(name=="岳飞大败金军"){
                    top.location.href="/tp/岳飞大败金军/";
                }
                else if(name=="宋金议和"){
                    top.location.href="/tp/宋金议和/";
                }
                else if(name=="金毁和约攻南宋"){
                    top.location.href="/tp/金毁和约攻南宋/";
                }
                else if(name=="岳飞抗金"){
                    top.location.href="/tp/岳飞抗金/";
                }
                else if(name=="南宋采用投降政策"){
                    top.location.href="/tp/南宋采用投降政策/";
                }
                else if(name=="秦桧任宰相"){
                    top.location.href="/tp/秦桧任宰相/";
                }
                else if(name=="岳飞被害"){
                    top.location.href="/tp/岳飞被害/";
                }
                else if(name=="宋金和议《绍兴和约》"){
                    top.location.href="/tp/宋金和议《绍兴和约》/";
                }
                else if(name=="南宋偏安杭州"){
                    top.location.href="/tp/南宋偏安杭州/";
                }
                else if(name=="南宋不思北上中原"){
                    top.location.href="/tp/南宋不思北上中原/";
                }
       	    });
            myChart.on('click',eConsole);
        </script>
    
</body>
</html>