<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/echarts.min.js"></script>
    <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        .searchbox{
            width: 600px;
            height: 100px;
            position: relative;
            top: 50px;
            left: 0px;
        }
        .logo{
            width: 300px;
            height: 300px;
            /* position: fixed; */
            top: 50px;
            left: 200px;
        }
        .back2{
            position: absolute;
            width: 100px;
            height: 30px;
            top: 10px;
            right: 10px;
        }
    </style>
    <title>事理图谱古诗词学习工具</title>
</head>

<body background="/static/background.png">

    <!-- Logo -->
    <!-- <div class="logo">
        <img src="/static/IMG_09081.jpg" alt="Logo" class="img-circle" width="140px" height="140px">
    </div> -->
    
    <!-- system name -->
    <center>
    <div>
        <h2 style="position: relative; left: 10px;color: black;">传统文化交融学习工具</h2>
    </div>
    </center>

    <div class="back2">
        <input type="button" style="width: 90px;" name="Submit" onclick="window.location.href='/'" value="返回首页">
    </div>

    <!-- 主页面的两个列表项 -->
    <a href="/tp/古诗词列表/" style="color: black; position: relative; left: 685px;"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>古诗词列表</a>
    <a href="/tp/历史列表/" style="color: black; position: relative; left: 685px;"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>历史列表</a>

    <!-- 搜索框 -->
    <center>
    <div class="searchbox">
        <form method="POST" action="/tp/search">
            <input class="form-control" type="text" name="title" placeholder="请输入图谱节点名称、古诗词题目、历史地点或者历史人物">
            <br>
            <input style="margin-left:5px;" class="btn btn-default" type="submit" value="确认">
            <input style="margin-left:50px;" class="btn btn-default" type="reset" value="重置">          
        </form>      
    </div>
    </center>

    <!-- 图谱总图 -->
    <div id="container" style="width: 90%;height: 550px;position: relative; top: 70px;left: 75px;"></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        var get=function(e){
            var newStr=" ";
            var start,end;
            var name_len=e.name.length;    　　　　　　　　　　　　   //每个内容名称的长度
            var max_name=4;    　　　　　　　　　　　　　　　　　　//每行最多显示的字数
            var new_row = Math.ceil(name_len / max_name); 　　　　// 最多能显示几行，向上取整
                if(name_len>max_name){ 　　　　　　　　　　　　　　  //如果长度大于每行最多显示的字数
                    for(var i=0;i<new_row;i++){ 　　　　　　　　　　　   //循环次数就是行数
                        var old='';    　　　　　　　　　　　　　　　　    //每次截取的字符
                        start=i*max_name;    　　　　　　　　　　     //截取的起点
                        end=start+max_name;    　　　　　　　　　  //截取的终点
                        if(i==new_row-1){    　　　　　　　　　　　　   //最后一行就不换行了
                            old=e.name.substring(start);
                        }else{
                            old=e.name.substring(start,end)+"\n";    
                        }
                        newStr+=old; //拼接字符串
                    }
                }else{                                          //如果小于每行最多显示的字数就返回原来的字符串
                    newStr=e.name; 
                }
                return newStr;
        }
        option = null;
        option = {
            title: {
                text: '岳阳楼历史沿革',
                x: 'center',
                y: '10px',
            },
            // tooltip: {},（鼠标放到某个节点或者边时显示的悬浮框）
            animationDurationUpdate: 1500,
            animationEasingUpdate: 'quinticInOut',
            series: [
                {
                    type: 'graph',
                    layout: 'none',
                    symbolSize: 70,
                    focusNodeAdjacency: true,
                    roam: false,
                    label: {
                        show: true,
                        formatter:get,
                        textStyle: {
                        align:"center",
                        baseline:"middle",
                            }
                    },
                    edgeSymbol: ['circle', 'arrow'],
                    edgeSymbolSize: [1, 10],
                    edgeLabel: {
                        normal: {
                            textStyle:{
                              fontSize: 13,
                              fontWeight:'bolder',
                              //color: '#00FFFF'
                            },
                            show: true,
                            formatter: function (x) {
                                return x.data.name;
                            }
                        }
                    },
                    itemStyle: {
                            normal: {
                                lineStyle:{
                                    color:'#FFD306',
                                    width:4//设置线条粗细
                                }
                            }
                        },
                    data: [{
                        name: '东汉鲁肃始建“阅军楼”',
                        x: 200,
                        y: 150
                    }, {
                        name: '改称“巴陵城楼”',
                        x: 250,
                        y: 150
                    }, {
                        name: '被毁无楼',
                        x: 300,
                        y: 150
                    }, {
                        name: '重修巴陵城楼',
                        x: 350,
                        y: 150
                    }, {
                        name: '扩建取名岳阳城楼',
                        x: 400,
                        y: 150
                    }, {
                        name: '重修岳阳楼',
                        x: 450,
                        y: 150
                    }, {
                        name: '李白赋诗定名岳阳楼',
                        x: 500,
                        y: 150
                    },  {
                        name: '腾宗谅重修岳阳楼',
                        x: 550,
                        y: 150
                    }, {
                        name: '毁于火灾',
                        x: 600,
                        y: 150
                    }, {
                        name: '郑民瞻重修岳阳楼',
                        x: 600,
                        y: 200
                    }, {
                        name: '孙勰重修岳阳楼',
                        x: 550,
                        y: 200
                    }, {
                        name: '损于大火',
                        x: 500,
                        y: 200
                    }, {
                        name: '范漴重修岳阳楼',
                        x: 450,
                        y: 200
                    }, {
                        name: '翁忱主持重修岳阳楼',
                        x: 400,
                        y: 200
                    }, {
                        name: '毁于大火',
                        x: 350,
                        y: 200
                    }, {
                        name: '赵汝归重修岳阳楼',
                        x: 300,
                        y: 200
                    }, {
                        name: '李应春重修岳阳楼',
                        x: 250,
                        y: 200
                    }, {
                        name: '刘彦真整修岳阳楼',
                        x: 200,
                        y: 200
                    }, {
                        name: '被雷火击中',
                        x: 200,
                        y: 250
                    },  {
                        name: '韩士英重修岳阳楼',
                        x: 250,
                        y: 250
                    }, {
                        name: '被洪水冲塌',
                        x: 300,
                        y: 250
                    }, {
                        name: '重修岳州府城、岳阳楼',
                        x: 350,
                        y: 230
                    }, {
                        name: '建望仙阁、仙梅亭',
                        x: 350,
                        y: 270
                    }, {
                        name: '遭兵火损坏',
                        x: 400,
                        y: 250
                    }, {
                        name: '张德容重建岳阳楼',
                        x: 450,
                        y: 250
                    }, {
                        name: '屡遭兵祸、前贤题咏无一见存',
                        x: 500,
                        y: 250
                    }, {
                        name: '岳阳县人民政府接管',
                        x: 550,
                        y: 250
                    }, {
                        name: '全面重修工程竣工并对外开放',
                        x: 600,
                        y: 250
                    }],
                    links: [{
                        source: 0,
                        target: 1,
                        name: '西晋',
                        
                    }, {
                        source: 1,
                        target: 2,
                        name: '东晋'
                    }, {
                        source: 2,
                        target: 3,
                        name: "南朝宋元嘉三年"
                    }, {
                        source: 3,
                        target: 4,
                        name: "唐开元四年"
                    }, {
                        source: 4,
                        target: 5,
                        name: "天宝年间"
                    }, {
                        source: 5,
                        target: 6,
                        name: "中唐"
                    }, {
                        source: 6,
                        target: 7,
                        name: "北宋庆历四年"
                    }, {
                        source: 7,
                        target: 8,
                        name: "元丰元年"
                    }, {
                        source: 8,
                        target: 9,
                        name: "元丰二年"
                    }, {
                        source: 9,
                        target: 10,
                        name: "崇宁三年"
                    }, {
                        source: 10,
                        target: 11,
                        name: "南宋建炎三年"
                    }, {
                        source: 11,
                        target: 12,
                        name: "绍兴八年"
                    }, {
                        source: 12,
                        target: 13,
                        name: "庆元四年"
                    },{
                        source: 13,
                        target: 14,
                        name: "嘉定十七年"
                    },{
                        source: 14,
                        target: 15,
                        name: "淳祐十一年"
                    }, {
                        source: 15,
                        target: 16,
                        name: "元至元年间"
                    }, {
                        source: 16,
                        target: 17,
                        name: "明宣德元年"
                    }, {
                        source: 17,
                        target: 18,
                        name: "成化七年"
                    }, {
                        source: 18,
                        target: 19,
                        name: "嘉靖二年"
                    }, {
                        source: 19,
                        target: 20,
                        name: "清康熙四十年"
                    }, {
                        source: 20,
                        target: 21,
                        name: "乾隆七年"
                    },{
                        source: 20,
                        target: 22,
                        name: "乾隆七年"
                    }, {
                        source: 21,
                        target: 23,
                        name: "咸丰二年"
                    }, {
                        source: 22,
                        target: 23,
                        name: "咸丰二年"
                    },{
                        source: 23,
                        target: 24,
                        name: "光绪六年"
                    }, {
                        source: 24,
                        target: 25,
                        name: "中华民国初年"
                    }, {
                        source: 25,
                        target: 26,
                        name: "1949年7月"
                    }, {
                        source: 26,
                        target: 27,
                        name: "1984年5月1日"
                    }],
                    lineStyle: {
                        opacity: 0.9,
                        width: 2,
                        curveness: 0,
                        normal:{
                                color: '#000'
                        },
                    }
                }
            ]
        };;
        myChart.setOption(option, true);
        myChart.on('click', function (param){
            var name=param.name;
            if(name){
                top.location.href="/tp/岳阳楼历史沿革/";
            }
       	});
        myChart.on('click',eConsole);
    </script>

    <div style="width: 100%;height: 120px;">
        <!-- 占位 -->
    </div>

</body>
</html>